ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul.nav li {
  float: left;
  text-align: center;
  
}

ul.nav a:link, ul.nav a:visited {
  margin: 0 5px;
  width: 330px;
  color: black;
  background-color: white;
  text-decoration: none;
}

ul.nav a:hover, ul.nav a:active {
  background-color: grey;
}
